{% extends "base.html" %}
{% set active_page = 'about' %}
{% block title %}메릴랜드 대학교 한인 학생회 (KUSA) | About{% endblock %}
{% block meta_keywords %}메릴랜드 대학교, 메릴랜드 대학교 한인 학생회, UMD 한인 학생회, KUSA, Korean Undergraduate Student Association, 회장단, 학회, 한인 커뮤니티, 유학생{% endblock %}
{% block meta_description %}메릴랜드 대학교 한인학생회(KUSA) 소개 페이지. 지도 교수진, 역대 회장단, 그리고 KUSA의 역사 및 활동을 확인하세요.{% endblock %}
{% block css %}
<link href="/static/css/about_styles.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- Faculty Advisor Section -->
<div class="container-fluid header bg-white p-0">
  <div class="container-xxl py-5">
    <div class="container">
      <div class="bg-light rounded p-3">
        <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
          <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
              <img class="img-fluid rounded w-70" src="/static/img/seo_eun_s.jpeg" alt="Faculty Advisor: Dr. 서은숙" />
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
              <div class="mb-4">
                <h1 class="mb-3">Faculty Advisor: Dr.서은숙</h1>
                <p>KUSA Advisor 2020 - present</p>
                <p>President of KASSTA (Korean-American AeroSpace Science and Technology Association), 2024-present.</p>
                <p>Korean-American Day Honoree, KEI, 2017</p>
                <p>President of Korean-American</p>
                <p>Scientists and Engineers</p>
                <p>Association, 2017-2018</p>
                <p>Scientist of the Year Award, KOFST & KSEA, 2015</p>
                <p>American Physical Society Fellow, 2010</p>
                <p>NASA Group Achievement Award, 2006 & 2011</p>
                <p>Presidential Early Career Award for Scientists and Engineers (White House), 1997</p>
              </div>
              <a href="javascript:void(0);" class="btn btn-secondary py-3 px-4" onclick="copyEmailToClipboard('seo@umd.edu'); return false;">
                <i class="fa fa-envelope me-2"></i>이메일
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- KUSA 회장단 Section -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <h1 class="mb-3">KUSA 회장단</h1>
      <p>KUSA를 이끌어온 리더들</p>
    </div>
    <div class="row g-4">
      <!-- Listing Box 1 -->
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item-pre rounded overflow-hidden" style="max-width: 200px; margin: 0 auto;">
          <div class="social-box bg-white text-center p-3">
            <a class="btn btn-square mx-1" href="javascript:void(0);" onclick="event.preventDefault();">
              <i class="fab fa-instagram"></i>
            </a>
            <h5 class="fw-bold mb-0">윤준수</h5>
            <small>President 2023 ~ 2025</small>
            <p class="department">Nutritional Science</p>
          </div>
        </div>
      </div>
      <!-- Listing Box 2 -->
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item-pre rounded overflow-hidden" style="max-width: 200px; margin: 0 auto;">
          <div class="social-box bg-white text-center p-3">
            <a class="btn btn-square mx-1" href="javascript:void(0);" onclick="event.preventDefault();">
              <i class="fab fa-instagram"></i>
            </a>
            <h5 class="fw-bold mb-0">정서연</h5>
            <small>President 2023 ~ 2023</small>
            <p class="department">Criminology</p>
          </div>
        </div>
      </div>
      <!-- Listing Box 3 -->
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item-pre rounded overflow-hidden" style="max-width: 200px; margin: 0 auto;">
          <div class="social-box bg-white text-center p-3">
            <a class="btn btn-square mx-1" href="javascript:void(0);" onclick="event.preventDefault();">
              <i class="fab fa-instagram"></i>
            </a>
            <h5 class="fw-bold mb-0">임경호</h5>
            <small>President 2020 ~ 2022</small>
            <p class="department">info-science</p>
          </div>
        </div>
      </div>
      <!-- Listing Box 4 -->
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item-pre rounded overflow-hidden" style="max-width: 200px; margin: 0 auto;">
          <div class="social-box bg-white text-center p-3">
            <a class="btn btn-square mx-1" href="javascript:void(0);" onclick="event.preventDefault();">
              <i class="fab fa-instagram"></i>
            </a>
            <h5 class="fw-bold mb-0">이재은</h5>
            <small>President 2019 ~ 2020</small>
            <p class="department">info-science</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
