{% extends "base.html" %}
{% set active_page = 'home' %}
{% block title %}KUSA Home{% endblock %}
{% block meta_keywords %}메릴랜드 대학교, 한인 학생회, KUSA, Korean Undergraduate Student Association, University of Maryland, UMD, 한국인 학생, 한인 커뮤니티{% endblock %}
{% block meta_description %}메릴랜드 대학교 한인 학생회(KUSA) 공식 홈페이지에 오신 것을 환영합니다. UMD에서 한국인 학생들과 함께 소통하고 교류하세요.{% endblock %}
{% block css %}
<link href="/static/css/custom_styles.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- Header Section -->
<div class="container-fluid header bg-white p-0">
  <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
    <div class="col-md-6 p-5 mt-lg-5">
      <h1 class="display-5 animated fadeIn mb-4">
        Korean Undergraduate Student Association <span class="text-primary">KUSA</span> in College Park
      </h1>
      <p class="animated fadeIn mb-4 pb-2">
        UMD-KUSA 공식 홈페이지에 오신 것을 환영합니다. 이곳은 한국인 재학생들이 함께 모여 소통하고 교류하는 공간입니다.
      </p>
    </div>
    <div class="col-md-6 animated fadeIn d-flex justify-content-center">
      <div class="owl-carousel header-carousel">
        <div class="owl-carousel-item">
          <div class="d-flex justify-content-center">
            <img class="img-fluid" src="/static/img/school_main_03.png" oncontextmenu="return false;" style="max-width: 90%;" />
          </div>
        </div>
        <div class="owl-carousel-item">
          <div class="d-flex justify-content-center">
            <img class="img-fluid" src="/static/img/school_main_02.png" oncontextmenu="return false;" style="max-width: 90%;" />
          </div>
        </div>
        <div class="owl-carousel-item">
          <div class="d-flex justify-content-center">
            <img class="img-fluid" src="/static/img/school_main_01.png" oncontextmenu="return false;" style="max-width: 90%;" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Activity Section -->
<div class="container">
  <div class="bg-light rounded p-3">
    <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <img class="img-fluid rounded w-70" src="/static/img/school_main_01.png" alt="" oncontextmenu="return false;" />
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
          <h1 class="mb-4">ACTIVITY</h1>
          <p class="mb-4">
            지루할 틈 없는 Campus Life 그리고 여러분들의 Academic Development 를 위해 최선을 다하는 KUSA 입니다
          </p>
          <p><i class="fa fa-check text-primary me-3"></i>활기찬 캠퍼스</p>
          <p><i class="fa fa-check text-primary me-3"></i>학업 성장</p>
          <p><i class="fa fa-check text-primary me-3"></i>다양한 활동</p>
          <a class="btn btn-primary py-3 px-5 mt-3" href="https://open.kakao.com/o/g3B2xVwf" target="_blank">
            Join KakaoTalk
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Related Community Section -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <h1 class="mb-3">RELATED COMMUNITY</h1>
    </div>
    <div class="row g-4">
      <!-- Example Community Card -->
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <a class="cat-item d-block bg-light text-center rounded p-3">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="/static/img/kgsa.jpeg" alt="Icon" style="width: 50px; height: 50px;" />
            </div>
            <h6>Korean Graduate Student Association</h6>
          </div>
        </a>
      </div>
      <!-- Repeat similar blocks for other communities -->
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <a class="cat-item d-block bg-light text-center rounded p-3">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="/static/img/kesa.png" alt="Icon" style="width: 50px; height: 50px;" />
            </div>
            <h6>Korean-American Scientists and Engineers Association</h6>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <a class="cat-item d-block bg-light text-center rounded p-3">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="/static/img/ksa.jpeg" alt="Icon" style="width: 50px; height: 50px;" />
            </div>
            <h6>Korean Student Association</h6>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
        <a class="cat-item d-block bg-light text-center rounded p-3">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="/static/img/mihan.jpeg" alt="Icon" style="width: 50px; height: 50px;" />
            </div>
            <h6>미국 한인 유학생 협회</h6>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
        <a class="cat-item d-block bg-light text-center rounded p-3">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="/static/img/university-of-maryland-logo.png" alt="Icon" style="width: 50px; height: 50px;" />
            </div>
            <h6>Universities in DMV</h6>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="1.2s">
        <a class="cat-item d-block bg-light text-center rounded p-3">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="/static/img/heykorean.png" alt="Icon" style="width: 150px; height: 50px;" />
            </div>
            <h6>heykorean</h6>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="bg-light rounded p-3">
      <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
        <div class="row g-5 align-items-center">
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
            <img class="img-fluid rounded w-70" src="/static/img/kusa_contact_us.png" alt="" />
          </div>
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
            <div class="mb-4">
              <h1 class="mb-3">Contact US</h1>
              <p>문의는 인스타그램을 통해 가능합니다. 팔로우하고 메시지를 보내주세요.</p>
            </div>
            <a href="https://www.instagram.com/umdkusa" class="btn btn-primary py-3 px-4 me-2" target="_blank">
              <i class="fab fa-instagram me-2"></i>인스타그램
            </a>
            <a href="#" class="btn btn-secondary py-3 px-4" onclick="copyEmailToClipboard(); return false;">
              <i class="fa fa-envelope me-2"></i>이메일
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- KUSA Executives Section -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <h1 class="mb-3">KUSA Executives</h1>
      <p>KUSA 대표</p>
    </div>
    <div class="row g-4 justify-content-center">
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item rounded overflow-hidden text-center">
          <div class="position-relative">
            <img class="img-fluid mx-auto d-block" src="/static/img/KakaoTalk_Photo_2024-08-22-20-54-12.jpeg" alt="" />
          </div>
          <div class="social-box bg-white text-center p-3">
            <a class="btn btn-square mx-1" href="https://www.instagram.com/j_watertree/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <h5 class="fw-bold mb-0">윤준수</h5>
            <small>President</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Testimonial Section -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <h1 class="mb-3">Executive Comment</h1>
    </div>
    <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
      <div class="testimonial-item bg-light rounded p-3">
        <div class="bg-white border rounded p-4">
          <p>발전하는 KUSA가 되도록 노력하겠습니다.</p>
          <div class="d-flex align-items-center">
            <img class="img-fluid flex-shrink-0 rounded" src="/static/img/KakaoTalk_Photo_2024-08-22-20-54-12.jpeg" style="width: 45px; height: 45px;" />
            <div class="ps-3">
              <h6 class="fw-bold mb-1">윤준수</h6>
              <small>President</small>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-item bg-light rounded p-3">
        <div class="bg-white border rounded p-4">
          <p>Developed the entire program as a executive of KUSA.</p>
          <div class="d-flex align-items-center">
            <img class="img-fluid flex-shrink-0 rounded" src="/static/img/sueuncho_02.jpg" style="width: 45px; height: 45px;" />
            <div class="ps-3">
              <h6 class="fw-bold mb-1">조수은</h6>
              <small>Lead Programmer & Executive</small>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-item bg-light rounded p-3">
        <div class="bg-white border rounded p-4">
          <p>KUSA의 밝은 미래를 위해 노력하겠습니다.</p>
          <div class="d-flex align-items-center">
            <img class="img-fluid flex-shrink-0 rounded" src="/static/img/lim_hyun_ho_umd.jpeg" style="width: 45px; height: 45px;" />
            <div class="ps-3">
              <h6 class="fw-bold mb-1">임현호</h6>
              <small>Vice President</small>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-item bg-light rounded p-3">
        <div class="bg-white border rounded p-4">
          <p>I value collaboration and believe that by working together, we can make positive impacts on the KUSA</p>
          <div class="d-flex align-items-center">
            <img class="img-fluid flex-shrink-0 rounded" src="/static/img/june.jpeg" style="width: 45px; height: 45px;" />
            <div class="ps-3">
              <h6 class="fw-bold mb-1">박상준</h6>
              <small>Bursar</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
