<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>KUSA Upload</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="KUSA, Korean Undergraduate Student Association, University of Maryland, UMD, Korean students, student association, Korean community" name="keywords" />
    <meta content="Upload your files to the Korean Undergraduate Student Association (KUSA) Board at the University of Maryland." name="description" />
    <link href="static/img/university-of-maryland-seeklogo.svg" rel="icon" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="static/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid nav-bar bg-transparent">
      <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
        <a href="/" class="navbar-brand d-flex align-items-center text-center">
          <div class="icon p-1 me-4">
            <img class="img-fluid" src="static/img/university-of-maryland-seeklogo.svg" alt="Icon" style="width: 50px; height: 50px;" />
          </div>
          <h1 class="m-0 text-primary d-none d-md-block" style="font-size: 18px;">Uni of Maryland KUSA</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto">
            <a href="/" class="nav-item nav-link">Home</a>
            <a href="/about" class="nav-item nav-link">HOF</a>
            <a href="/upload" class="nav-item nav-link active">Board</a>
            <a href="#" class="nav-item nav-link" onclick="alert('페이지 준비중 입니다.');">Contact</a>
          </div>
        </div>
      </nav>
    </div>

    <div class="container-xxl py-5">
      <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
          <h1 class="mb-3">KUSA 자료 업로드 및 공유</h1>
          <p>KUSA 커뮤니티와 함께하는 활동 자료를 공유하세요. 사진, 문서자료 등 다양한 파일을 업로드하여 KUSA의 성장과 발전에 기여하세요.</p>
        </div>
        <hr class="my-4" style="border: 2px solid #ccc; width: 100%;" />

        <div class="mt-5">
          <h2 class="text-center mb-4">Uploaded Files</h2>
          <div class="row g-4">
            {% for file in files %}
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ file.filename }}</h5>
                    <p class="card-text">Uploaded on: {{ file.upload_date }}</p>
                    <a href="/download/{{ file.filename }}" class="btn btn-primary">Download</a>
                    <form action="/delete/{{ file.id }}" method="POST" style="display:inline;" onsubmit="return confirmPresident()">
                      <button type="submit" class="btn btn-danger mt-2">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <hr class="my-4" style="border: 2px solid #ccc; width: 100%;" />

        <div class="row g-4">
          <div class="col-lg-8 mx-auto wow fadeInUp" data-wow-delay="0.3s">
            <div class="bg-light rounded p-4">
              <form action="/upload" method="POST" enctype="multipart/form-data" onsubmit="return confirmPresident()">
                <div class="mb-3">
                  <label for="file_input" class="form-label">Select a File</label>
                  <input class="form-control" type="file" id="file_input" name="file_input" accept=".pdf, .docx, .png, .jpeg, .jpg, .gif, .bmp, .svg, .txt, .rtf, .csv, .html" required />
                </div>
                <button type="submit" class="btn btn-primary py-3 px-5 mt-3">Upload File</button>
              </form>

              {% if success %}
                <div class="alert alert-success mt-3" role="alert">File uploaded successfully!</div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-dark text-white-50 footer pt-3 mt-3 wow fadeIn" data-wow-delay="0.1s">
      <div class="container py-2">
        <div class="row g-5">
          <div class="col-lg-3 col-md-6">
            <h5 class="text-white mb-4">Get In Touch</h5>
            <p class="mb-2">
              <i class="fa fa-map-marker-alt me-3"></i>University of maryland KUSA
            </p>
            <p class="mb-2">
              <i class="fa fa-envelope me-3"></i>umdkusa@gmail.com
            </p>
            <div class="d-flex pt-2">
              <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/umdkusa?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fab fa-instagram"></i></a>
              <a class="btn btn-outline-light btn-social" href="https://open.kakao.com/o/g3B2xVwf" target="_blank"><i class=""></i>KakaoTalk</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <h5 class="text-white mb-4">Version Info</h5>
            <p>Current Version: Beta 1.9.3</p>
            <p>
              <a href="/static/Log/patch_updates.txt" download class="text-white">Download Update Log</a>
            </p>Developed By <a class="border-bottom" href="https://github.com/sueun-dev">Sueun Cho</a>
          </div>

          <div class="col-lg-3 col-md-6">
            <h5 class="text-white mb-4">Legal</h5>
            <p>Unauthorized use of content is strictly prohibited.</p>
            <p>
              For inquiries, contact us at <a href="mailto:umdkusa@gmail.com" class="text-white">umdkusa@gmail.com</a>.
            </p>&copy; <a class="border-bottom" href="#">KUSA</a>, All Right Reserved.
          </div>

          <div class="col-lg-3 col-md-6">
            <h5 class="text-white mb-4">Developer</h5>
            <div class="team-item d-flex align-items-center rounded overflow-hidden text-center" style="max-width: 300px; margin: 0 auto; height: 100px;">
              <div class="position-relative" style="width: 100px; height: 100px;">
                <img class="img-fluid w-100 h-100" src="static/img/sueuncho_02.jpg" alt="" style="object-fit: cover;" />
              </div>
              <div class="social-box bg-white text-start p-3" style="flex-grow: 1; height: 100%;">
                <h5 class="fw-bold mb-0" style="font-size: 0.875rem;">Sueun Cho</h5>
                <small style="font-size: 0.75rem; color: black;">Full Stack & Blockchain Developer</small>
                <a class="btn mx-1 p-1" href="https://www.instagram.com/sueun.dev/" target="_blank" style="font-size: 1.2rem;"><i class="fab fa-instagram"></i></a>
                <a class="btn mx-1 p-1" href="https://github.com/sueun-dev" target="_blank" style="font-size: 1.2rem;"><i class="fab fa-github"></i></a>
              </div>
            </div>
            <!-- Adjusted margin for the "Project Manager" text -->
            <h5 class="text-white mb-4" style="margin-top: 20px;">Project Manager</h5> <!-- Added margin-top to create space -->
            <div class="team-item d-flex align-items-center rounded overflow-hidden text-center" style="max-width: 300px; margin: 0 auto; height: 100px;">
              <div class="position-relative" style="width: 100px; height: 100px;">
                <img class="img-fluid w-100 h-100" src="static/img/KakaoTalk_Photo_2024-08-22-20-54-12.jpeg" alt="" style="object-fit: cover;" />
              </div>
              <div class="social-box bg-white text-start p-3" style="flex-grow: 1; height: 100%;">
                <h5 class="fw-bold mb-0" style="font-size: 0.875rem;">Junsoo Yoon</h5>
                <small style="font-size: 0.75rem; color: black;">President KUSA</small>
                <a class="btn mx-1 p-1" href="https://www.instagram.com/j_watertree/" target="_blank" style="font-size: 1.2rem;"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/wow/wow.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/waypoints/waypoints.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>
